@import "materialize/materialize";

/*#region Media Queries*/
$screen-sm-min: 601px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}
/*#endregion*/

/*#region All*/
body {
  @extend .blue-grey, .lighten-5;
}
.pageContent {
    margin: 0 auto;
    max-width: 992px;
}
/*#endregion*/

/*#region Header*/
.brand-logo {
  height: 56px;
  @include sm {
    height: 64px;
  }
  img {
    box-sizing: content-box;
    padding: 0 20px;
    width: 56px;
    @include sm {
      width: 64px;
    }
  }
}
.breadcrumbNav {
  padding-left: 20px;
  height: 4rem;
  .breadcrumb {
    @extend .grey-text, .text-darken-3;
    &:before {  
      @extend .grey-text, .text-darken-3;
    }
  }
  background-color: transparent;
  box-shadow: none;
}
/*#endregion*/

/*#region Index Page*/
/*#region Parallax Title*/
.parallax-container {
  height: 350px;
  @include sm {
    height: 450px;
  }
  @include lg {
    height: 500px;
  }
}
#nameHeader {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin: 8rem 0 0;
  @include sm {
    font-size: 5rem;
  }
  @include lg {
    font-size: 7rem;
  }
}
#nameDesc {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0 0;
  @include sm {
    font-size: 2rem;
    margin: 1.52rem 0 0;
  }
}
/*#endregion*/

#mainIntro {
  @extend .blue-grey, .lighten-1;
  p {
    margin: 0 auto;
    font-size: 1.2rem;
    text-align: center;
    max-width: 992px;
    padding: 40px 20px;
    @include sm {
      font-size: 1.5rem;
    }
  }
}

#indexNav {
  padding: 40px 0;
  text-align: center;
  @include md {
    padding: 80px 0;
  }
  .iconContainer {
    padding: 20px 30px;
    @include md {
      display: inline-block;
    }
    @include lg {
      padding: 20px 50px;
    }
    .btn{
      width: 170px;
      height: auto;
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
      h5 {
        display: block;
      }
      i {
        font-size: 6rem;
        line-height: 1;
      }
      @include md {
        &:hover {
              -webkit-transform: scale(1.08);
              transform: scale(1.08);
        }
      }
    }
  }
}
/*#endregion*/

/*#region Experience/Projects/Resume Page*/
#experienceHeader, #projectsHeader, #resumeHeader {
  padding: 0 20px;
  text-align: center;
  margin: 2rem 0 5rem;
  font-weight: 100;
  font-size:4.6rem;
  @include sm {
    font-size:6rem;
  }
}
.experienceSection, .projectsSection, .resumeSection {
  margin: 0 0 5rem;
  padding: 0 20px;
  h2 {
    font-weight: 100;
    font-size: 3.8rem;
    margin-bottom: .8rem;
    @include sm {
      font-size:4rem;
    }
  }
  h3 {
    font-size: 2.4rem;
  }
  h4 {
    @extend .grey-text, .text-darken-2;
    font-size: 1.6rem;
    margin-top: 0;
    font-style: italic;
  }
  p, ul, li {
    font-size: 1.2rem;
    margin-top: 0;
  }
}
/*#endregion*/

/*#region Resume Page*/
#resumeHeader {
  margin-bottom: 2rem;
}
.viewPDF {
  display: block;
  margin: 0 auto;
  width: 100px;
}
.resumeSection {
  h2 {
    margin-bottom: 1.2rem;
  }
  h3 {
    margin: 0 0 .8rem;
  }
  h4 {
    font-size: 1.4rem;
  }
  .right {
    float: none !important;
    display: block;
    @include sm {
      float: right !important;
      display: inherit;
    }
  }
  .gradDate {
    float: none !important;
    display: block;
    @include lg {
      float: right !important;
      display: inherit;
      position: relative;
      top: -4.6rem;
    }
  }
  .projectList {
    li {
      margin-bottom: .8rem;
    }
  }
  .resumeExperience {
    margin-bottom: 2rem;
  }
}
/*#endregion*/

.backToTop {
  text-align: right;
  padding: 30px 0 0;
  a {
    @extend .grey-text, .text-darken-3;
    line-height: 56px;
    font-size: 18px;
    padding: 0 20px;
    cursor: pointer;
    @include sm {
      line-height: 64px;
    }
  }
}

/*#region Footer*/
.socialLink {
  display: block;
  height: 40px;
  width: 40px;
  margin: .5em 0;
  img {
    width: 40px;
  }
}
/*#endregion*/