/*#region Media Queries*/
$screen-sm-min: 601px;
$screen-md-min: 768px;
$screen-lg-min: 992px;
$screen-xl-min: 1200px;
@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
      @content;
  }
}
@mixin md {
  @media (min-width: #{$screen-md-min}) {
      @content;
  }
}
@mixin lg {
  @media (min-width: #{$screen-lg-min}) {
      @content;
  }
}
@mixin xl {
  @media (min-width: #{$screen-xl-min}) {
      @content;
  }
}
/*#endregion*/

/*#region Header*/
.brand-logo {
  height: 56px;
  @include sm {
    height: 64px;
  }
  img {
    margin: 0 15px;
    width: 56px;
    @include sm {
      width: 64px;
    }
  }
}
/*#endregion*/

/*#region Parallax Title*/
.parallax-container {
  height: 350px;
  @include sm {
    height: 450px;
  }
  @include lg {
    height: 500px;
  }
}
#nameHeader {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-weight: 300;
  margin: 8rem 0 0;
  @include sm {
    font-size: 5rem;
  }
  @include lg {
    font-size: 7rem;
  }
}
#nameDesc {
  text-align: center;
  color: white;
  font-size: 1.5rem;
  font-weight: 300;
  margin: 1rem 0 0;
  @include sm {
    font-size: 2rem;
    margin: 1.52rem 0 0;
  }
}
/*#endregion*/

#mainIntro {
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  max-width: 992px;
  padding: 40px 20px;
  @include sm {
    font-size: 1.5rem;
  }
}

/*#region Footer*/
.socialLink {
  display: block;
  height: 40px;
  width: 40px;
  margin: .5em 0;
  img {
    width: 40px;
  }
}
/*#endregion*/